.container {
  width: 700px;
  min-height: 100vh;
  margin: auto;
}

.AboutPage {
  background-color: #913efc;
  padding: 15px;
  margin: 15px auto 5px;
  border-radius: 15px;
}

.AboutPageLink {
  color: #f0ebeb;
}

.FaQuestionIcon {
  color: #f8f0f0;
  padding: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
}
